body{

    font-size: xx-large;
    text-align: center;
}

table{

    font-size: x-large;
    margin: 0 auto;
    
}

form{

    font-size: xx-large;
}

input{

    font-size: x-large;
}

select{

    font-size: x-large;
}

#descripcion{

    width: 500px;
}